<div class="card">
    <h5>ADD VEHICLE</h5>
    <p-tabView orientation="left">
        <p-tabPanel header="BASIC" class="line-height-3 m-0">
            <div class="col-12 "> 
                <div class="card p-fluid">
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="state">Vehicle Type</label>
                            <p-dropdown [options]="dropdownTypes" optionLabel="name" [(ngModel)]="selectedType"></p-dropdown>
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Registration Name</label>
                            <input pInputText id="email2" type="text" />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="name2">Vehicle Name</label>
                            <input pInputText id="name2" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Engine Number</label>
                            <input pInputText id="email2" type="text" />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="name2">Make/Model</label>
                            <input pInputText id="name2" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Chassis Number</label>
                            <input pInputText id="email2" type="text" />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="name2">Year of Manufacture</label>
                            <p-calendar view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Fuel Type</label>
                            <p-dropdown [options]="FuelTypes" optionLabel="name" [(ngModel)]="selectedFuel"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="name2">Vehicle Image</label>
                            <p-fileUpload mode="basic" name="demo[]" url="./upload.php"
                             accept="image/*"  (onUpload)="onUpload($event)" chooseLabel="Browse"></p-fileUpload>
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Fuel Measurement In</label>
                            <p-dropdown [options]="FuelMeasurements" optionLabel="name" [(ngModel)]="selectedMeasurement"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="state">State</label>
                            <p-dropdown [options]="dropdownStates" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Track Usage As </label>
                            <p-dropdown [options]="TracksUsage_As" optionLabel="name" [(ngModel)]="selectedTrack"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                        </div>
                        <div class="field col">
                            <label htmlFor="asm">Secondary/Auxiliary Meter  </label>
			                <p-inputSwitch id="asm" [(ngModel)]="valSwitch"></p-inputSwitch>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card">
                        <span class="p-buttonset">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="mr-2 mb-2 p-button-danger"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="mr-2 mb-2 "></button>
                        </span>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="ADVANCE" class="line-height-3 m-0">
            <div class="col-6 ui-g-offset-3">
                <div class="card p-fluid">
                    <div class="field">
                        <label htmlFor="name1">Insurance Number</label>
                        <input pInputText id="name1" type="text" />
                    </div>
                    <div class="field">
                        <label htmlFor="email1">Insurance start Date</label>
                        <p-calendar dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
                    </div>
                    <div class="field">
                        <label htmlFor="email1">Insurance Expiry Date</label>
                        <p-calendar dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
                    </div>
                    <div class="field">
                        <label htmlFor="RoadTex">Road Tex No</label>
                        <input pInputText id="RoadTex" type="text"/>
                    </div>
                    <div class="field">
                        <label htmlFor="dateformat">Road Tex Last Date</label>
                        <p-calendar  dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
                    </div>
                    <div class="field">
                        <label htmlFor="RoadTex">National Permit No</label>
                        <input pInputText id="RoadTex" type="text"/>
                    </div>
                    <div class="field">
                        <label htmlFor="dateformat">National Permit Last Date</label>
                        <p-calendar  dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
                    </div>
                    <div class="field">
                        <label htmlFor="RoadTex">Poc No</label>
                        <input pInputText id="RoadTex" type="text"/>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card">
                        <span class="p-buttonset">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="mr-2 mb-2 p-button-danger"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="mr-2 mb-2 "></button>
                        </span>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        
    </p-tabView>
</div>
